.project
backend/threesixtytool/.settings
.classpath
backend/threesixtytool/common-model/.settings
backend/threesixtytool/common-utils/.settings
.springBeans
backend/threesixtytool/config-server/.settings
backend/threesixtytool/hystrix/.settings
backend/threesixtytool/person-service/.settings
backend/threesixtytool/service-registry/.settings
backend/threesixtytool/timeline-service/.settings
backend/threesixtytool/zuul/.settings
backend/threesixtytool/turbine/.settings
backend/docker/.vagrant/machines/default/virtualbox/action_provision
backend/docker/.vagrant/machines/default/virtualbox/action_set_name
backend/docker/.vagrant/machines/default/virtualbox/id
backend/docker/.vagrant/machines/default/virtualbox/index_uuid
backend/docker/.vagrant/machines/default/virtualbox/private_key
backend/docker/.vagrant/machines/default/virtualbox/synced_folders
.DS_Store
