$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/**
 * Navmenu push
 */
html, body {
  height: 100%;
}

.emp-app-container {
  padding: 70px 0 0 0;
}

.navbar-toggle {
  float: left;
  margin-left: 15px;
}

@media (min-width: 0) {
  .navbar-toggle {
    display: block; /* force showing the toggle */
  }
}

/**
 * Navbar
 */
.navbar-text {
    margin-left: 15px;
    margin-right: 15px;
    float: left;
}
.badge {
    position: absolute;
    top: -10px;
    right: -18px;
    color: #fff;
    background: #c00;
    border-radius: 30px;
    height: 20px;
    display: block;
}

/**
 * Avatar
 */    
.avatar {
    border-radius: 25px;
    width: 50px;
    height: 50px;
    overflow: hidden;
    display: inline-block;

    .avatar__image {
        width: 100%;
    }
}

/**
 * Timeline
 */

$timeline-line-color: #333;
$timeline-dot-size: 11px;

.timeline {
    padding-left: 115px;

    .timeline__component {
        position: relative;
        margin: 0;
        padding: 15px 15px 30px;
        list-style: none;
        border-left: 1px solid $timeline-line-color;
        display: inline-block;
        width: 100%;
        box-sizing: border-box;

        &:before {
            position: absolute;
            left: - ceil($timeline-dot-size / 2);
            top: $timeline-dot-size * 3;
            content: '';
            background: $timeline-line-color;
            border-radius: $timeline-dot-size;
            width: $timeline-dot-size;
            height: $timeline-dot-size;
        }
    }

    .timeline__heading {
        margin: 0;
    }

    .timeline__date {
        position: absolute;
        left: -100px;
        top: 29px;
    }
    
    .timeline__authors {
        position: relative;
        padding-top: 15px;
    
        &:before {
            position: absolute;
            left: 0;
            top: 0;
            content: '';
            width: 25px;
            border-top: 1px solid $timeline-line-color;
        }
    }
}









/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
